.loading-spinner {
  border: 0.5em solid var(--accent-color);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style:double;
  animation: rotate 2s cubic-bezier(0.45,-0.42, 0.57, 1.35) infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
